EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_GOOGLE_AUTH_ENABLED=false
EXPO_PUBLIC_GOOGLE_AUTH_REDIRECT_URL=redress://
EXPO_PUBLIC_DEV_SEED=false
EXPO_PUBLIC_REQUIRE_TAG_URLS=true
EXPO_PUBLIC_ADMIN_USER_IDS=
